#content .box-product .title span {
  background: #2db34a;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 15px;
  padding: 0 12px;
  position: relative;
  text-decoration: none; }

#content .box-product .title:before, #content .box-product .title:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0; }

#content .box-product .title:before {
  border-bottom: 15px solid #2db34a;
  border-left: 15px solid transparent;
  border-top: 15px solid #2db34a;
  left: -15px; }

#content .box-product .title:after {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #2db34a;
  border-top: 15px solid transparent;
  right: -15px; }
